<h2> Страничка пользователя <%= @viewUser.name.capitalize %> </h2>

<p id="notice"><%= notice %></p>

<p>
  <strong>Почта:<%= @testMy %></strong>
  <%= @viewUser.mail %>
</p>


<div id="note_area" class="note_area">
  <div style="margin-left: 10px; margin-top: 10px"><strong> Заметки: </strong></div>
  <!-- вывод заметок пользователя -->
  <% @notes.each do |note| %>

    <div id="note_area_<%= note.id %>" style="margin: 5px" <%= "class=note" if note.is_public %><%= "class=private_note" if !note.is_public %>>
      <h3><%= 'приватная' if !note.is_public %> заметка от <%= formatStringDateToText(note.when_created.to_s) %></h3>
      <h3><%= myTextToHTMLText(note.title) %></h3>
      <%= myTextToHTMLText(note.body) %><br><br>

      <% if @currentUser != nil %>
        <% if(@currentUser[:id] == @viewUser[:id]) then %>
          <button onclick="return MyLib.deleteAsk(<%= note[:id] %>, <%= @viewUser.id.to_s %>);">Удалить</button>
          <button onclick="return MyLib.render_edit_form(<%= note.id %>, '<%= myEscapeHTML(note.title) %>', '<%= myEscapeHTML(note.body) %>', <%= "true" if note.is_public %><%= "false" if !note.is_public %>, <%= @currentUser.id.to_s %>, <%= @viewUser.id.to_s %>);">Редактировать</button>
        <% end %>
      <% end %>
    </div>

  <% end %>


    <!-- создание новой -->
    <div class="note" id="new_note_area">
      <% if(@currentUser && @currentUser[:id] == @viewUser[:id]) then %>
        <button style="margin: 5px" id="new_note_button" onclick="return MyLib.render_create_form(<%= @currentUser.id.to_s %>, <%= @viewUser.id.to_s %>);">Новая заметка</button>
      <% end %>
    </div>
</div>


<br>
<p>
  <% if(@currentUser && @currentUser[:id] == @viewUser[:id]) then %>
    <%= link_to 'Редактировать', "/users/#{@currentUser[:id]}/edit" %> |
    <%= link_to 'Выйти из учетной записи', '/logout' %>|
  <% end %>
  <%= link_to 'К списку всех пользователей', '/users' %>
</p>
